<div class="container d-flex justify-content-evenly align-items-center">
  <div class="container-content">
    <h1>Track energy usage based on your location.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <div class="d-flex justify-content-left">
      <a href="">Sign Up</a>
      <a href="">Log In</a>
    </div>
  </div>
  <div>
    <img src="/images/solar.png" alt="solar panel image" />
  </div>
</div>