<div class="dashboard d-flex">

  <article class="d-flex flex-column">
    <ul>
      <li class="paddingbot">
        <a href="">Dashboard</a>
      </li>

      <li class="paddingtop bordertop">
        <a href="">Electricity</a>
      </li>
      <li>
        <a href="">Natural Gas</a>
      </li>
      <li class="paddingbot">
        <a href="">Green House</a>
      </li>

      <li class="paddingbot paddingtop bordertop">
        <a href="/reports">Reports</a>
      </li>

      <li class="bordertop">
        <a href="">Settings</a>
      </li>
    </ul>
  </article>

  <div class="reports">
    <section>
      <ul>
        <li>
        <h4>Title</h4>
        </li>
        <li>
        <h4>Date</h4>
        </li>
        <li>
        <h4>Actions</h4>
        </li>
      </ul>
      <ul>
        <li>
        <p>Title var here</p>
        </li>
        <li>
        <p>Date var here</p>
        </li>
        <li>
        <p>delete button here</p>
        </li>
      </ul>
      <button class="btn btn-primary">Upload</button>
    </section>
  </div>

</div>